<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.colleenminor.theadventure" >

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
        <activity
            android:name=".ui.house.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.NameActivity"
            android:label="@string/title_activity_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="TheAdventure.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="2" />

        <activity
            android:name=".ui.ItemsListActivity"
            android:label="@string/title_activity_items_list"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ui.house.TwistyActivity"
            android:label="@string/title_activity_twisty"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ui.water.OceanActivity"
            android:label="@string/title_activity_ocean"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ui.water.MermaidActivity"
            android:label="@string/title_activity_mermaid"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ui.water.MermerActivity"
            android:label="@string/title_activity_mermer"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ui.house.MoanerActivity"
            android:label="@string/title_activity_moaner"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name=".ui.house.GiveActivity"
            android:label="@string/title_activity_give"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name=".ui.water.MermaidPalaceActivity"
            android:label="@string/title_activity_mermaid_palace"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name=".ui.water.MermaidGiveActivity"
            android:label="@string/title_activity_mermaid_give"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name=".ui.water.MermaidKingdomActivity"
            android:label="@string/title_activity_mermaid_kingdom"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name=".ui.water.NoAirActivity"
            android:label="@string/title_activity_no_air"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name=".ui.water.QuitterActivity"
            android:label="@string/title_activity_quitter"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name=".ui.water.CavePointActivity"
            android:label="@string/title_activity_cave_point"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name=".ui.water.CaveActivity"
            android:label="@string/title_activity_cave"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name=".ui.water.EelActivity"
            android:label="@string/title_activity_eel"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
    </application>

</manifest>
